<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hundsun.jerry.icity.mapper.MomentMapper">

    <!-- 定义数据库字段与实体对象的映射关系 -->
    <resultMap type="com.hundsun.jerry.icity.model.Moment" id="MomentBaseMap">
        <id column="m_id" property="mId" jdbcType="INTEGER"/>
        <id column="u_id" property="uId" jdbcType="BIGINT"/>
        <result column="usernickname" property="userNickname" jdbcType="VARCHAR"/>
        <result column="moment_content" property="momentContent" jdbcType="VARCHAR"/>
        <result column="m_up_time" property="mUpTime" jdbcType="VARCHAR"/>
        <result column="longitude" property="longitude" jdbcType="DOUBLE"/>
        <result column="latitude" property="latitude" jdbcType="DOUBLE"/>
    </resultMap>

    <!-- 定义参数模型 -->
    <parameterMap type="com.hundsun.jerry.icity.model.Moment" id="MomentParam">
        <parameter property="mId"/>
        <parameter property="uId"/>
        <parameter property="userNickname"/>
        <parameter property="momentContent"/>
        <parameter property="mUpTime"/>
        <parameter property="longitude"/>
        <parameter property="latitude"/>
    </parameterMap>

    <!-- 定义要操纵的SQL语句 -->

    <!-- 创建新朋友圈 -->
    <insert id="addMoment" parameterType="com.hundsun.jerry.icity.model.Moment" >
        INSERT INTO moment (usernickname,moment_content,m_up_time,longtitude,latitude)
        VALUES (#{userNickname},#{momentContent},#{mUpTime},#{longitude},#{latitude})
    </insert>

    <!-- 删除朋友圈 -->
    <delete id="deleteMomentByMid" parameterType="Integer" >
        DELETE FROM moment
        WHERE m_id = #{mId}
    </delete>

    <!-- 修改用户资料 -->
    <update id="modify" parameterType="com.hundsun.jerry.icity.model.Moment" >
        UPDATE moment
        <set>
            <if test="usernickname != null">usernickname=#{userNickname},</if>
            <if test="momentcontent != null">moment_content=#{momentContent},</if>
            <if test="muptime != null">m_up_time=#{mUpTime},</if>
            <if test="longitude != null">longitude=#{longitude},</if>
            <if test="latitude != null">latitude=#{latitude},</if>
        </set>
        WHERE m_id=#{mId}
    </update>

    <!-- 通过id选择朋友圈 -->
    <select id="selectMomentByMid" parameterType="java.lang.Integer" resultMap="MomentBaseMap">
        SELECT * FROM moment
        WHERE m_id = #{mId}
    </select>

    <!--<select id="selectUserByPhoneOrEmail" resultMap="UserBaseMap">-->
    <!--SELECT * FROM user-->
    <!--WHERE user_email = #{emailOrPhone} OR user_phone = #{emailOrPhone}-->
    <!--AND user_state = #{state}-->
    <!--</select>-->

    <select id="selectAllMoment" resultMap="MomentBaseMap">
        SELECT * FROM moment
    </select>

    <select id="count" resultType="Integer">
        SELECT count(*) moment
    </select>

    <!--&lt;!&ndash; 用户唯一性判断 &ndash;&gt;-->
    <!--<select id="judgeUser" parameterType="String" resultMap="com.hundsun.jerry.icity.model.User">-->
    <!--select phone_mobile from user_login where phone_mobile=#{phone_mobile}-->
    <!--</select>-->



</mapper>