<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jerryzhiyuan.icity.mapper.UserInfoMapper">
    <!-- 定义数据库字段与实体对象的映射关系 -->
    <resultMap type="com.jerryzhiyuan.icity.model.UserInfo" id="UserInfoBaseMap">
        <id column="u_id" property="userId" jdbcType="BIGINT"/>
        <result column="img_url" property="img_url" jdbcType="VARCHAR"/>
        <result column="user_nickname" property="userNickname" jdbcType="VARCHAR"/>
        <result column="u_sex" property="sex" jdbcType="VARCHAR"/>
        <result column="age" property="age" jdbcType="VARCHAR"/>
        <result column="true_name" property="userTrueName" jdbcType="VARCHAR"/>
        <result column="birthday" property="birthday" jdbcType="VARCHAR"/>
        <result column="constellation" property="constellation" jdbcType="VARCHAR"/>
        <result column="tel" property="tel" jdbcType="VARCHAR"/>
        <result column="qq" property="qqNumber" jdbcType="VARCHAR"/>
        <result column="email" property="email" jdbcType="VARCHAR"/>
        <result column="address" property="address" jdbcType="VARCHAR"/>
        <result column="introduce" property="introduction" jdbcType="VARCHAR"/>
        <result column="declaration" property="declaration" jdbcType="VARCHAR"/>
        <result column="profession" property="profession" jdbcType="VARCHAR"/>
        <result column="u_name" property="userName" jdbcType="VARCHAR"/>
    </resultMap>

    <!-- 定义参数模型 -->
    <parameterMap type="com.jerryzhiyuan.icity.model.UserInfo" id="UserInfoParam">
        <parameter property="userId"/>
        <parameter property="img_url"/>
        <parameter property="userNickname"/>
        <parameter property="sex"/>
        <parameter property="age"/>
        <parameter property="userTrueName"/>
        <parameter property="birthday"/>
        <parameter property="constellation"/>
        <parameter property="tel"/>
        <parameter property="qqNumber"/>
        <parameter property="email"/>
        <parameter property="address"/>
        <parameter property="introduction"/>
        <parameter property="declaration"/>
        <parameter property="profession"/>
        <parameter property="userName"/>
    </parameterMap>

    <!-- 通过id选择用户信息 -->
    <select id="selectByUserId" parameterType="java.lang.Long" resultMap="UserInfoBaseMap">
        SELECT * FROM user_info
        WHERE u_id = #{userId}
    </select>

    <!-- 通过userName选择用户信息 -->
    <select id="selectByUsername" parameterType="String" resultMap="UserInfoBaseMap">
        SELECT * FROM user_info
        WHERE u_name = #{userName}
    </select>

    <!-- 更新用户个人资料 -->
    <update id="updateUserInfo" parameterType="com.jerryzhiyuan.icity.model.UserInfo" >
        UPDATE user_info
        <set>
            <if test="usernickename != null">user_nickname=#{userNickname},</if>
            <if test="sex != null">u_sex=#{sex},</if>
            <if test="age != null">age=#{age},</if>
            <if test="truename != null">true_name=#{userTrueName},</if>
            <if test="birthday != null">birthday=#{birthday},</if>
            <if test="constellation != null">constellation=#{constellation},</if>
            <if test="tel != null">tel=#{tel},</if>
            <if test="qqnumber != null">qq=#{qqNumber},</if>
            <if test="email != null">email=#{email},</if>
            <if test="address != null">address=#{address},</if>
            <if test="introduction != null">introduction=#{introduction},</if>
            <if test="declaration != null">declaration=#{declaration},</if>
            <if test="profession != null">profession=#{profession},</if>
            <if test="name != null">u_name=#{userName},</if>
        </set>
        WHERE u_id=#{id}
    </update>

    <!-- 创建新用户资料 -->
    <insert id="addUserInfo" parameterType="com.jerryzhiyuan.icity.model.UserInfo" >
        INSERT INTO user_info (user_nickname,u_sex,age,true_name,birthday,constellation,
        tel,qq,email,address,introduction,declaration,profession,u_name)
        VALUES (#{NULL},#{NULL},#{NULL},#{NULL},#{NULL},#{NULL},#{NULL},#{NULL},#{NULL},#{NULL},#{NULL},
        #{NULL},#{NULL},#{NULL},#{userName})
    </insert>


</mapper>