<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hundsun.jerry.icity.mapper.UserMapper">

    <!-- 定义数据库字段与实体对象的映射关系 -->
    <resultMap type="com.hundsun.jerry.icity.model.User" id="UserBaseMap">
        <id column="u_id" property="id" jdbcType="BIGINT"/>
        <result column="u_name" property="userName" jdbcType="VARCHAR"/>
        <result column="u_password" property="userPwd" jdbcType="VARCHAR"/>
        <result column="u_tel" property="userTel" jdbcType="VARCHAR"/>
        <result column="u_email" property="userEmail" jdbcType="VARCHAR"/>
        <result column="img_url" property="img_url" jdbcType="VARCHAR"/>
        <result column="register_data" property="userRegisterDate" jdbcType="VARCHAR"/>
    </resultMap>

    <!-- 定义参数模型 -->
    <parameterMap type="com.hundsun.jerry.icity.model.User" id="UserParam">
        <parameter property="id"/>
        <parameter property="userName"/>
        <parameter property="userPwd"/>
        <parameter property="userTel"/>
        <parameter property="userEmail"/>
        <parameter property="userRegisterDate"/>
    </parameterMap>

    <!-- 定义要操纵的SQL语句 -->

    <!-- 创建新用户 -->
    <insert id="addUser" parameterType="com.hundsun.jerry.icity.model.User" >
        INSERT INTO user (u_name,u_password,u_tel,u_email,register_date)
        VALUES (#{userName},#{userPwd},#{userTel},#{userEmail},#{userRegisterDate})
    </insert>

    <!-- 删除用户 -->
    <delete id="deleteUserById" parameterType="Integer" >
        DELETE FROM user
        WHERE u_id = #{userId}
    </delete>

    <!-- 修改用户资料 -->
    <update id="modify" parameterType="com.hundsun.jerry.icity.model.User" >
        UPDATE user
        <set>
            <if test="name != null">u_name=#{userName},</if>
            <if test="password != null">u_password=#{userPwd},</if>
            <if test="tel != null">u_tel=#{userTel},</if>
            <if test="email != null">u_email=#{userTel},</if>
            <if test="register_date != null">u_register_date=#{userRegisterDate},</if>
        </set>
        WHERE u_id=#{id}
    </update>

    <!-- 通过id选择用户 -->
    <select id="selectUserById" parameterType="java.lang.Long" resultMap="UserBaseMap">
        SELECT * FROM user
        WHERE id = #{userId}
    </select>

    <!-- 通过用户名查找用户信息 -->
    <select id="selectByUsername" parameterType="string" resultMap="UserBaseMap">
        SELECT * from user
        WHERE u_name = #{username}
    </select>

    <!--<select id="selectUserByPhoneOrEmail" resultMap="UserBaseMap">-->
    <!--SELECT * FROM user-->
    <!--WHERE user_email = #{emailOrPhone} OR user_phone = #{emailOrPhone}-->
    <!--AND user_state = #{state}-->
    <!--</select>-->

    <select id="selectAllUser" resultMap="UserBaseMap">
        SELECT * FROM user
    </select>

    <select id="count" resultType="Integer">
        SELECT count(*) user
    </select>

    <!--&lt;!&ndash; 用户唯一性判断 &ndash;&gt;-->
    <!--<select id="judgeUser" parameterType="String" resultMap="com.hundsun.jerry.icity.model.User">-->
        <!--select phone_mobile from user_login where phone_mobile=#{phone_mobile}-->
    <!--</select>-->



</mapper>